.actionLink{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    height: 40px;
    padding: 0px 15px;
    background: var(--red);
    color: var(--white);
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color 0.4s;

    &:hover{
        background: var(--red-hover);
    }
}